.ownerList {
    font-size: 0.75em;
}

.icon--dog {

    width: 50px;
    height: 50px;
}

/* .animal-div {
    display: flex;
    flex-direction: row;
} */

.location-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ccc;
    width: 50%;
    margin: 10px;
    padding: 15px;


}

.locations {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.btn.btn-success {
    display: block;
    margin: 0 auto;

}

h2 {
    text-align: center;
}

button {
    color: white;
    background-color: rgb(46, 157, 46);
}

.deets {
    color: white;
    background-color: rgb(46, 157, 46);
    padding-left: 5px;
    padding-right: 5px;
}