.ownerList {
    font-size: 0.75em;
}

.shelter {
    width: 80px;
    height: 80px;
}

/* .animal-div {
    display: flex;
    flex-direction: row;
} */

.location-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ccc;
    width: 50%;
    margin: 10px;
    padding: 15px;


}

.locations {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.btn.btn-success {
    display: block;
    margin: 0 auto;

}

h2 {
    text-align: center;
}